
header{
    width: 100%;
    display: block;
    z-index: 100;
    background-color: #F6F8F9;
    height: 50px;
    color: #343638;
    padding: 5px;
}
header a{
    color:#343638;
}
header li{
    padding-right: 10px;
    display: inline-block;
    opacity: 50%;

}
header li:first-child{
    opacity: 100%;
}
header li:last-child{
    opacity: 100%;
}
.logo{
    font-size: 13px;
    color: #E87777;
}
.mobile-nav{
    display: none;
}


body{
    font-family:'Poppins';
    font-size: 14px;
    background-color:#F6F8F9 ;
    width: 100%;
}




.container{
    margin: 20px auto;
    max-width: 1140px;
    width: 100%;
    display: block;  
    margin-top: 0px; 
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    vertical-align: center ;
}



.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.world-news{
    width: 60%;
    background-image: url('../images/road.png');
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    color: #E8E8E8;
}
.text-block {
    width: 100%;
    height: 247px;
}
.text-block span{
    background-color: #E8E8E8;
    height: 2px;
}
h1{
    font-size: 24px;

}
h2{
    border: 2px;
    font-size: 18px;
    display: inline-block;
}
p{
    font-size: 16px;
}
.button{
    padding: 12px;
    height:40px ;
    width: 134px;
    background-color: #FA6980;
    border-radius: 6px;
}
.more-news{
    height: 600px;
    width: 40%;
    color: black;
    padding: 5%;
    background-color: rgb(255, 255, 255);
}
.right-block{
    height: 300px;
}
.more-news span{
    background-color: #EBEDED;
    height: 2px;
}
.more-news h2{
    
    color: #FA6980;

}
.more-news h1{
    
    color: #000000;
    font-weight: bolder;

}
.more-news h3{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0c0c0c;
    font-weight: bold;


}
.more-news {

    color:#A6ADB4;
    font-size: 16px;

}
.time{
    font-size: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: left;
}
.time p{
    font-size: 13px;
    opacity: 70%;
}
.arrows{
    width: 40px ;
    
}
.arrows li:last-child{
    font-weight: bold;
    color: black;
}
.trending{
    margin-top: 30px;
 
}
.trending-blocks{
    margin-top: 60px;
}
.trending-block{
    background-color: white;
    width: 30%;
    height: 350px;
}
.trending-block .text-block{
    padding: 20px;
}
.trending-block h3{
    font-weight: bold;
    color: black;
    font-size: 24px;
}
.boxes{
    margin-top: 30px;
}
.vertical-box-left{
    width: 68%;
}
.vertical-box-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around
}

.box-up{
    width:100% ;
    height: 430px;
    background-image: url('../images/bridge.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-down{
    margin-top: 20px;
    width:100% ;
    height: 430px;
    background-image: url('../images/wood.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.three-box{
    height: 280px;
    display: flex;
    align-content: space-between;
    margin-bottom: 13px;
}
.three-box h3{
    font-weight: bold;
    color: black;
}
footer{
    margin-top: 40px;
    padding: 40px;
    background-color: #797979 ;
    height: 200px;
}
.footer-center{
    height: 80px;
}
.mail{
    width:262px ;
    height: 50px;
    border:solid 2px rgb(216, 216, 216);
    padding: 10px;
}

.mail-text{
    font-size: 12px;
}



.footer-left{
    width: 380px;
}
.social{
    width: 150px;
}
footer li{
    margin-top: 10px;
}
.right{
    width:500px

}

@media (max-width: 800px){
    .container{
        max-width: 600px;
    }
    .section-one{
        display: flex;
        flex-direction: column;
    }
    .world-news{
        width: 100%;
    }
    .more-news{
        height: 400px;
        width: 100%;
    }
    .trending-block{
        width: 48%;
    }
    .tablet{
        display: none;
    }
    .boxes{
        display: flex;
        flex-direction: column;
    }
    .vertical-box-left{
        width: 100%;
    }
    .vertical-box-right{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .three-box{
        width: 48%;

    }
    .tablet-footer{
        display: flex;
        flex-direction: column;
    }
    .footer-left{
        width: 100%;
    }
    footer{
        padding: 15px;
        height: 220px;
    }
    .right{
        margin-top: 10px;
        width: 100%;
    }
}
@media (max-width: 550px){
    header{
        height: 60px;
    }
    .desktop-nav {
        display: none;
        
    }
    .mobile-nav{

        display: block;

    }
    .mobile{
        margin-top: 5px;
    }
    .trending-blocks{
        display: flex;
        flex-direction: column;
        
    }
    .trending-block{
        margin-bottom: 10px;
        width: 90%;
    }
    .container{
        max-width: 400px;
    }
    .vertical-box-right{
        flex-direction: column;
    }
    .three-box{
        width: 100%;
    }
    footer{
        display: none;
    }
    .tablet{
        display: flex;
    }
   
}