
header{
    width: 100%;
    display: block;
    z-index: 100;
    padding: 146px 0 ;
    background-image: url(../images/cover.jpg);
    height: 324px; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
header a{
    color: white;
}
header li{
    padding-right: 10px;
    display: inline-block;
    border-right: 2px solid white;
}
header li:last-child{
    border-right: 0;
    margin-left: 15px;
}
h2{
    font-size: 42px;
    margin:15px 0 15px 0;
}
.slogan{
    color:black;
}
body{
    font-family:'Poppins';
    font-size: 14px;
    font-weight: bolder;
    color: #707070;
    width: 100%;
}

.container{
    margin: 20px auto;
    max-width: 1140px;
    width: 100%;
    display: block;   
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.mapouter{
    position:relative;
    text-align:right;
    height:20%;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:20%;
    width:100%;}

.text-area {
    width: 66%;
    height: 230px;
    
    
}
textarea{
    width: 100%;
    height: 100%;
    
    background-color: #F8F8F8;
    border: 2px #E8E8E8;
    padding: 10px;
}
.form{
    width:100%;
}
.inputs{
    margin-left: 5px;
    margin-right: 12px;
    width: 32%;
}
input{
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: #F8F8F8;
    border: 2px #E8E8E8;
}
button{
    
    width: 100%;
    height: 50px;
    padding: 20px auto;

    background-color: #5863F8;
    border: 2px solid #E8E8E8;
    color: #ffff;

    margin-bottom: 0;
    background-color: #5863F8;
}
footer{
    padding: 20px;
}
.circle{
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #5863F8;
}
.bold{
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
footer li{
    margin-top: 10px;
}

@media (max-width: 870px){
    .text-area{
        margin-right: 15px;
        width: 100%;
        padding: 10px;
    }
    .form{
        flex-direction: column;
    }
    .inputs{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        margin-left: 15px;
        padding-right: 20px;
    }
    input,button{
        width: 48%;
    }
    
}
@media (max-width: 550px){
    .text-area{
        margin-right: 15px;
        width: 100%;
    }
    .form{
        flex-direction: column;
    }

    input,button{
        width: 100%;
    }
    .footer-blocks{
        flex-direction:column;
    }
    .footer-blocks ul{
        margin-top: 10px;
    }
    .slogan{
        text-align: center;
        font-size: 28px;
    }
}