
header{
    width: 100%;
    display: block;
    z-index: 100;
    background-color: #F6F8F9;
    height: 50px;
    color: #343638;
    padding: 5px;
}
header a{
    color:#343638;
}
header li{
    padding-right: 10px;
    display: inline-block;
    opacity: 50%;

}
header li:first-child{
    opacity: 100%;
}
header li:last-child{
    opacity: 100%;
}
.logo{
    font-size: 13px;
    color: #E87777;
}


body{
    font-family:'Poppins';
    font-size: 14px;

    width: 100%;
}




.container{
    margin: 20px auto;
    max-width: 1140px;
    width: 100%;
    display: block;  
    margin-top: 0px; 
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    vertical-align: center ;
}



.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.world-news{
    width: 60%;
    background-image: url('../images/road.png');
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    color: #E8E8E8;
}
.text-block {
    width: 60%;
    height: 247px;
}
.text-block span{
    background-color: #E8E8E8;
    height: 2px;
}
h1{
    font-size: 24px;

}
h2{
    border: 2px;
    font-size: 18px;
    display: inline-block;
}
p{
    font-size: 16px;
}
.button{
    padding: 12px;
    height:40px ;
    width: 134px;
    background-color: #FA6980;
    border-radius: 6px;
}
.more-news{
    width: 40%;
    color: black;
    padding: 5%;
}
.right-block{
    height: 300px;
}
.more-news span{
    background-color: #EBEDED;
    height: 2px;
}
.more-news h2{
    
    color: #FA6980;

}
.more-news h1{
    
    color: #000000;
    font-weight: bolder;

}
.more-news h3{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0c0c0c;
    font-weight: bold;


}
.more-news {

    color:#A6ADB4;
    font-size: 16px;

}
.time{
    margin-top: 5px;
    display: flex;
    justify-content: left;
}
.arrows{
    width: 40px ;
    
}
.arrows li:last-child{
    font-weight: bold;
    color: black;
}





footer{
    padding: 20px;
}

footer li{
    margin-top: 10px;
}

@media (max-width: 870px){
    .text-area{
        margin-right: 15px;
        width: 100%;
        padding: 10px;
    }
    .form{
        flex-direction: column;
    }
    .inputs{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        margin-left: 15px;
        padding-right: 20px;
    }
    input,button{
        width: 48%;
    }
    
}
@media (max-width: 550px){
    .text-area{
        margin-right: 15px;
        width: 100%;
    }
    .form{
        flex-direction: column;
    }

    input,button{
        width: 100%;
    }
    .footer-blocks{
        flex-direction:column;
    }
    .footer-blocks ul{
        margin-top: 10px;
    }
    .slogan{
        text-align: center;
        font-size: 28px;
    }
}